<div class = "row">
  <div class = " col-12 p-0 border rounded">
    <div class = "list-group" style="background-color: #7d8f42;">
      <h3 class = "list-group-item border-0 current-user-heading">{{this.currentUser}}</h3>
    </div>
  </div>
</div>

<div class="row">
  <div class = "col-4 p-0 border rounded">
    <div class = "list-group">
        <a href = "#" class = "list-group-item friend-header">Contacts</a>
        <div *ngFor = "let friend of friends">
          <button href = "#" 
            [ngClass] = "onFriendChangeClass(friend)"
            (click) = "onClickFriend(friend)">
            <div style = "flex-grow: 1;">{{friend}}</div>
            <div class = "message-count" *ngIf = " (countUnreadMessages(friend) > 0)">{{countUnreadMessages(friend)}}</div>
          </button>
        </div>
      </div>
  </div>
  <div class = "col-8 border rounded">
    <div class = "chat-header">{{this.currentFriend}}</div>
    <div class = "message-box">
      <div *ngIf = "hasChatWithFriend()">
        <div *ngFor = "let message of messageStore.get(this.currentFriend)">
          <div class = "message-text-container-current-user" *ngIf = "message.from === this.currentUser">
            <span class = "message-text-current-user">{{message.message}}</span>
          </div>
          <div class = "message-text-container-friend" *ngIf = "message.from != this.currentUser ">
            <span class = "message-text-friend">{{message.message}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class = "chat-footer">
      <input style = "flex-grow: 1;" type = "text" placeholder="Send..." [(ngModel)] = "messageText" (keyup.enter) = "this.sendMessage()">
      <div style = "height: 3%; width: 3%; margin: 1%; cursor: pointer;" (click) = "this.sendMessage()"><img src="assets/paper-plane-solid.svg"></div>
    </div>
  </div>
</div>